@page "/image-display"

<PageTitle>AStar Dev: Image Display</PageTitle>

<div class="card">
    @if (ImageSource.Length == 0)
    {
        <img src="assets/Loading_1.gif" alt="Please wait, loading"/>
    }
    else
    {
        <h2>@FullNameWithPath</h2>
        <img id="ImageSource" src="@ImageSource" alt="@FullNameWithPath"/>
    }
</div>
