@page "/scrape-images"

<PageTitle>AStar Dev: Scrape Images</PageTitle>

<h3>Scrape Images</h3>

<ListView TItem="MessageData"
          Data="Messages"
          TextField="item => item.MessageForDisplay"
          ValueField="item => item.MessageForDisplay"
          Mode="ListGroupMode.Static"
          MaxHeight="300px">
</ListView>
