@page "/todo-list"
@inherits ToDoListBase

<PageTitle>AStar Dev: ToDo Items</PageTitle>

<h3>ToDo List - NOT Persisted yet</h3>
<p>
    <a href="/create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            ClassificationId
        </th>
        <th>
            Title
        </th>
        <th>
            Owner
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (ToDo item in ToDoList)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.Owner
            </td>
            <td>
                <a class="btn btn-primary" href="/edit/@item.Id">Edit</a>
                <button class="btn btn-danger" @onclick="@(() => DeleteItem(item.Id))">Delete</button>
            </td>
        </tr>
    }
    </tbody>
</table>
