<article>
    <div class="article-wrapper">
        <figure>
            <img src="@ImageSource" alt="@ApiName"/>
        </figure>
        <div class="article-body">
            <h2>@ApiName</h2>
            <div Id="ApiHealthStatus">
                <br/>
                <div class="@ApiHealthCheckClass">
                    Health Status: @ApiHealthStatus
                </div>
            </div>
        </div>
    </div>
</article>
