@if (imageSource.Length > 0)
{
    <img id="@ImageName" src="@imageSource" alt="@ImageName"/>
}
else
{
    <span style="width: 100%; text-align: center; background-color: black;">
        <img src="assets/Loading_1.gif" alt="Loading...please wait..."/>
    </span>
}
