<div class="card">
    @* <ImageComponent ImageFullName="@FileDetail.FullNameWithPath" ImageName="@FileDetail.FileName" *@
    @*                 ImageSize="850"></ImageComponent> *@
    @* <FileAccessDetail FileDetail="@FileDetail" RootDirectory="@RootDirectory"></FileAccessDetail> *@
</div>
