@page "/admin/add-files-to-database"

<PageTitle>AStar Dev: Add Files to Database</PageTitle>
<h3>Add Files To Database</h3>

<input @bind="@Directory"/>

<button class="btn btn-success" @onclick="GetDirectories">Start</button>

@Directories
