<Bar Breakpoint="Breakpoint.Desktop" Background="Background.Primary" ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        <BarItem>
            <BarLink To="/">
                <img src="/assets/logo.png" style="width:32px; height: 32px" alt="AStar Development"/>
                AStar Development
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarToggler/>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <span class="oi oi-image" aria-hidden="true" style="color: green;"> Images</span>
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="/random-image"><span class="oi oi-person" aria-hidden="true"
                                                                  style="color: green;"> Random Image</span>
                        </BarDropdownItem>
                        <BarDropdownDivider/>
                        <BarDropdownItem To="/duplicate-images"><span class="oi oi-people" aria-hidden="true"
                                                                      style="color: green;"> Duplicate Images</span>
                        </BarDropdownItem>
                        <BarDropdownDivider/>
                        <BarDropdownItem To="/move-images"><span class="oi oi-image" aria-hidden="true"
                                                                 style="color: green;"> Move Images</span>
                        </BarDropdownItem>
                        <BarDropdownDivider/>
                        <BarDropdownItem To="/image-rename">
                            <span class="oi oi-image" aria-hidden="true" style="color: green;"> Image Rename</span>
                        </BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <span class="oi oi-file" aria-hidden="true" style="color: purple;"> Files</span>
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="/duplicate-files">
                            <span class="oi oi-people" aria-hidden="true"
                                  style="color: purple;"> Duplicate Files</span>
                        </BarDropdownItem>
                        <BarDropdownDivider/>
                        <BarDropdownItem To="/move-files">
                            <span class="oi oi-image" aria-hidden="true"
                                  style="color: purple;"> Move Files</span>
                        </BarDropdownItem>
                        <BarDropdownDivider/>
                        <BarDropdownItem To="/file-rename">
                            <span class="oi oi-file" aria-hidden="true" style="color: purple;"> File Rename</span>
                        </BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem>
                <BarLink To="/scrape-images">
                    <span class="oi oi-globe" aria-hidden="true" style="color: orange;"> Scrape</span>
                </BarLink>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <span class="oi oi-folder" aria-hidden="true" style="color: magenta;"> Directories</span>
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="/directory-rename">
                            <span class="oi oi-folder" aria-hidden="true"
                                  style="color: magenta;"> Directory Rename</span>
                        </BarDropdownItem>
                        <BarDropdownDivider/>
                        <BarDropdownItem To="/directory-move">
                            <span class="oi oi-file" aria-hidden="true" style="color: magenta;"> Move Directory</span>
                        </BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem Background="Background.Primary" Style="min-width: 260px; min-height: 10px;"></BarItem>
            <BarItem Background="Background.Primary">
                <BarLink TextColor="TextColor.Primary" To="https://github.com/astar-development/" Target="Target.Blank">
                    AStar Development on
                    GitHub&nbsp;&nbsp;<img src="assets/github-mark-white-small.png" alt="GitHub"/>
                </BarLink>
            </BarItem>
        </BarStart>
        <BarEnd>
            <AuthorizeView>
                <Authorized>
                    <BarItem Background="Background.Primary">
                        <LoginDisplay/>
                    </BarItem>
                    <BarItem Background="Background.Primary">
                        <BarDropdown>
                            <BarDropdownToggle>
                                <BarIcon IconName="IconName.ShoppingBasket"/>
                                <span class="oi oi-person" aria-hidden="true" style="color: goldenrod;"> Admin</span>
                            </BarDropdownToggle>
                            <BarDropdownMenu>
                                <BarDropdownItem To="/admin/authentication-check">
                                    <span class="oi oi-person" aria-hidden="true" style="color: goldenrod;"> Authentication Check</span>
                                </BarDropdownItem>
                                <BarDropdownDivider/>
                                <BarDropdownItem To="/admin/site-configuration">
                                    <span class="oi oi-wrench" aria-hidden="true"
                                          style="color: goldenrod;"> Site Config</span>
                                </BarDropdownItem>
                                <BarDropdownDivider/>
                                <BarDropdownItem To="/admin/scrape-directories">
                                    <span class="oi oi-folder" aria-hidden="true" style="color: goldenrod;"> Scrape Directories</span>
                                </BarDropdownItem>
                                <BarDropdownDivider/>
                                <BarDropdownItem To="/admin/models-to-ignore">
                                    <span class="oi oi-people" aria-hidden="true" style="color: goldenrod;"> Models to Ignore</span>
                                </BarDropdownItem>
                                <BarDropdownDivider/>
                                <BarDropdownItem To="/admin/tags-to-ignore">
                                    <span class="oi oi-tags" aria-hidden="true" style="color: goldenrod;"> Tags to Ignore</span>
                                </BarDropdownItem>
                                <BarDropdownDivider/>
                                <BarDropdownItem To="/admin/add-files-to-database">
                                    <span class="oi oi-document" aria-hidden="true" style="color: goldenrod;"> Add files to database</span>
                                </BarDropdownItem>
                                <BarDropdownDivider/>
                                <BarDropdownItem To="/admin/api-usage">
                                    <span class="oi oi-graph" aria-hidden="true"
                                          style="color: goldenrod;"> API Usage</span>
                                </BarDropdownItem>
                                <BarDropdownDivider/>
                                <BarDropdownItem>
                                    <AuthorizeView>
                                        <Authorized Context="Logout">
                                            <span class="oi oi-lock-unlocked" aria-hidden="true"
                                                  style="color: goldenrod;">&nbsp;
                                                <a href="MicrosoftIdentity/Account/SignOut" style="color: goldenrod"> Sign
                                                    Out</a></span>
                                        </Authorized>
                                        <NotAuthorized Context="LogIn">
                                            <span class="oi oi-lock-locked" aria-hidden="true"
                                                  style="color: goldenrod;">&nbsp;
                                            <a href="MicrosoftIdentity/Account/SignIn" style="color: goldenrod"> Sign
                                                In</a></span>
                                        </NotAuthorized>
                                    </AuthorizeView>
                                </BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                    </BarItem>
                </Authorized>
            </AuthorizeView>
            <BarItem>
                <button class="btn" @onclick="@SwapLightAndDarkThemes"><span style="color: purple;"> <span
                            class="oi oi-sun" aria-hidden="true"></span> / <span class="oi oi-moon"
                                                                                 aria-hidden="true"></span></span>
                </button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>
